ServiceClient/Service References/AuctionService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AuctionService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WcfPr%C3%B8veEksamen" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAuctionService_GetAuctions_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAuctions" />
  </wsdl:message>
  <wsdl:message name="IAuctionService_GetAuctions_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAuctionsResponse" />
  </wsdl:message>
  <wsdl:message name="IAuctionService_GetAuction_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAuction" />
  </wsdl:message>
  <wsdl:message name="IAuctionService_GetAuction_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAuctionResponse" />
  </wsdl:message>
  <wsdl:message name="IAuctionService_Bid_InputMessage">
    <wsdl:part name="parameters" element="tns:Bid" />
  </wsdl:message>
  <wsdl:message name="IAuctionService_Bid_OutputMessage">
    <wsdl:part name="parameters" element="tns:BidResponse" />
  </wsdl:message>
  <wsdl:portType name="IAuctionService">
    <wsdl:operation name="GetAuctions">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuctionService/GetAuctions" message="tns:IAuctionService_GetAuctions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuctionService/GetAuctionsResponse" message="tns:IAuctionService_GetAuctions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAuction">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuctionService/GetAuction" message="tns:IAuctionService_GetAuction_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuctionService/GetAuctionResponse" message="tns:IAuctionService_GetAuction_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Bid">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuctionService/Bid" message="tns:IAuctionService_Bid_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuctionService/BidResponse" message="tns:IAuctionService_Bid_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAuctionService" type="tns:IAuctionService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAuctions">
      <soap:operation soapAction="http://tempuri.org/IAuctionService/GetAuctions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAuction">
      <soap:operation soapAction="http://tempuri.org/IAuctionService/GetAuction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Bid">
      <soap:operation soapAction="http://tempuri.org/IAuctionService/Bid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AuctionService">
    <wsdl:port name="BasicHttpBinding_IAuctionService" binding="tns:BasicHttpBinding_IAuctionService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WcfPr%C3%B8veEksamen/AuctionService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>